<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooxun.geekdol.hmedia.mapper.AroundStoreCommentMapper">
  <resultMap id="BaseResultMap" type="com.wooxun.geekdol.hmedia.model.AroundStoreComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="around_store_id" jdbcType="BIGINT" property="aroundStoreId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="illegal_status" jdbcType="CHAR" property="illegalStatus" />
    <result column="likes_number" jdbcType="INTEGER" property="likesNumber" />
    <result column="hate_number" jdbcType="INTEGER" property="hateNumber" />
    <result column="view_number" jdbcType="INTEGER" property="viewNumber" />
    <result column="reply_number" jdbcType="INTEGER" property="replyNumber" />
    <result column="illegal_number" jdbcType="INTEGER" property="illegalNumber" />
    <result column="star_type" jdbcType="CHAR" property="starType" />
    <result column="opreater_ip" jdbcType="VARCHAR" property="opreaterIp" />
    <result column="ins_id" jdbcType="BIGINT" property="insId" />
    <result column="ins_ymdhms" jdbcType="TIMESTAMP" property="insYmdhms" />
    <result column="upd_id" jdbcType="BIGINT" property="updId" />
    <result column="upd_ymdhms" jdbcType="TIMESTAMP" property="updYmdhms" />
    <result column="upd_eac" jdbcType="BIGINT" property="updEac" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <association property="appUser" column="ins_id" select="com.wooxun.geekdol.system.mapper.AppUserMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List">
    id, around_store_id, content, illegal_status, likes_number, hate_number, view_number, 
    reply_number, illegal_number, star_type, opreater_ip, ins_id, ins_ymdhms, upd_id, 
    upd_ymdhms, upd_eac, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_around_store_comment
    where id = #{id,jdbcType=BIGINT}
    and del_flag = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from m_around_store_comment
    where id = #{id,jdbcType=BIGINT} and del_flag = '0'
  </delete>
  <insert id="insert" parameterType="com.wooxun.geekdol.hmedia.model.AroundStoreComment" useGeneratedKeys="true" keyProperty="id">
    insert into m_around_store_comment (id, around_store_id, content, 
      illegal_status, likes_number, hate_number, 
      view_number, reply_number, illegal_number, 
      star_type, opreater_ip, ins_id, 
      ins_ymdhms, upd_id, upd_ymdhms, 
      upd_eac, del_flag)
    values (#{id,jdbcType=BIGINT}, #{aroundStoreId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{illegalStatus,jdbcType=CHAR}, #{likesNumber,jdbcType=INTEGER}, #{hateNumber,jdbcType=INTEGER}, 
      #{viewNumber,jdbcType=INTEGER}, #{replyNumber,jdbcType=INTEGER}, #{illegalNumber,jdbcType=INTEGER}, 
      #{starType,jdbcType=CHAR}, #{opreaterIp,jdbcType=VARCHAR}, #{insId,jdbcType=BIGINT}, 
      #{insYmdhms,jdbcType=TIMESTAMP}, #{updId,jdbcType=BIGINT}, #{updYmdhms,jdbcType=TIMESTAMP}, 
      #{updEac,jdbcType=BIGINT}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wooxun.geekdol.hmedia.model.AroundStoreComment" useGeneratedKeys="true" keyProperty="id">
    insert into m_around_store_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aroundStoreId != null">
        around_store_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="illegalStatus != null">
        illegal_status,
      </if>
      <if test="likesNumber != null">
        likes_number,
      </if>
      <if test="hateNumber != null">
        hate_number,
      </if>
      <if test="viewNumber != null">
        view_number,
      </if>
      <if test="replyNumber != null">
        reply_number,
      </if>
      <if test="illegalNumber != null">
        illegal_number,
      </if>
      <if test="starType != null">
        star_type,
      </if>
      <if test="opreaterIp != null">
        opreater_ip,
      </if>
      <if test="insId != null">
        ins_id,
      </if>
      <if test="insYmdhms != null">
        ins_ymdhms,
      </if>
      <if test="updId != null">
        upd_id,
      </if>
      <if test="updYmdhms != null">
        upd_ymdhms,
      </if>
      <if test="updEac != null">
        upd_eac,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aroundStoreId != null">
        #{aroundStoreId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="illegalStatus != null">
        #{illegalStatus,jdbcType=CHAR},
      </if>
      <if test="likesNumber != null">
        #{likesNumber,jdbcType=INTEGER},
      </if>
      <if test="hateNumber != null">
        #{hateNumber,jdbcType=INTEGER},
      </if>
      <if test="viewNumber != null">
        #{viewNumber,jdbcType=INTEGER},
      </if>
      <if test="replyNumber != null">
        #{replyNumber,jdbcType=INTEGER},
      </if>
      <if test="illegalNumber != null">
        #{illegalNumber,jdbcType=INTEGER},
      </if>
      <if test="starType != null">
        #{starType,jdbcType=CHAR},
      </if>
      <if test="opreaterIp != null">
        #{opreaterIp,jdbcType=VARCHAR},
      </if>
      <if test="insId != null">
        #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null">
        #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null">
        #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null">
        #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null">
        #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wooxun.geekdol.hmedia.model.AroundStoreComment">
    update m_around_store_comment
    <set>
      <if test="aroundStoreId != null">
        around_store_id = #{aroundStoreId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="illegalStatus != null">
        illegal_status = #{illegalStatus,jdbcType=CHAR},
      </if>
      <if test="likesNumber != null">
        likes_number = #{likesNumber,jdbcType=INTEGER},
      </if>
      <if test="hateNumber != null">
        hate_number = #{hateNumber,jdbcType=INTEGER},
      </if>
      <if test="viewNumber != null">
        view_number = #{viewNumber,jdbcType=INTEGER},
      </if>
      <if test="replyNumber != null">
        reply_number = #{replyNumber,jdbcType=INTEGER},
      </if>
      <if test="illegalNumber != null">
        illegal_number = #{illegalNumber,jdbcType=INTEGER},
      </if>
      <if test="starType != null">
        star_type = #{starType,jdbcType=CHAR},
      </if>
      <if test="opreaterIp != null">
        opreater_ip = #{opreaterIp,jdbcType=VARCHAR},
      </if>
      <if test="insId != null">
        ins_id = #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null">
        ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null">
        upd_id = #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null">
        upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null">
        upd_eac = #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wooxun.geekdol.hmedia.model.AroundStoreComment">
    update m_around_store_comment
    set around_store_id = #{aroundStoreId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      illegal_status = #{illegalStatus,jdbcType=CHAR},
      likes_number = #{likesNumber,jdbcType=INTEGER},
      hate_number = #{hateNumber,jdbcType=INTEGER},
      view_number = #{viewNumber,jdbcType=INTEGER},
      reply_number = #{replyNumber,jdbcType=INTEGER},
      illegal_number = #{illegalNumber,jdbcType=INTEGER},
      star_type = #{starType,jdbcType=CHAR},
      opreater_ip = #{opreaterIp,jdbcType=VARCHAR},
      ins_id = #{insId,jdbcType=BIGINT},
      ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      upd_id = #{updId,jdbcType=BIGINT},
      upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      upd_eac = #{updEac,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  
  <!-- 周边店管理：回复管理列表查询 begin -->
  <select id="selectAroundStoreCommentList" parameterType="com.wooxun.geekdol.hmedia.vo.AroundStoreCommentVo" resultType="com.wooxun.geekdol.hmedia.vo.AroundStoreCommentVo">
	SELECT a.id AS id, a.content AS content, a.illegal_status AS illegalStatus, 
		a.opreater_ip AS opreaterIp, b.nick_name AS insName, 
		concat_ws('/',a.likes_number, a.hate_number) AS likesOrhate, 
		concat_ws('/',a.view_number,a.reply_number,a.illegal_number) AS viewReplyIllegalNumber, 
		a.ins_id AS insId, a.ins_ymdhms AS insYmdhms, a.upd_id AS updId, a.upd_ymdhms AS updYmdhms, 
		a.upd_eac AS updEac, a.del_flag AS delFlag
	FROM m_around_store_comment a, s_app_user b 
		WHERE a.around_store_id = #{aroundStoreId,jdbcType=BIGINT} 
		AND a.ins_id = b.id 
		AND a.del_flag = '0' 
		AND b.del_flag = '0' 
		<if test="insName != null and insName.trim() != ''" >
	      AND b.nick_name LIKE CONCAT('%',CONCAT(#{insName},'%'))
	    </if>
	    <if test="content != null and content.trim() != ''" >
	      AND a.content LIKE CONCAT('%',CONCAT(#{content},'%'))
	    </if>
	    <if test="illegalStatus != null and illegalStatus.trim() != ''" >
		  AND a.illegal_status = #{illegalStatus,jdbcType=CHAR}
	    </if>
		<if test="pageFlag==true">
			LIMIT #{startPage}, #{endPage}
		</if>
  </select>
  <select id="selectAroundStoreCommentListCount" parameterType="com.wooxun.geekdol.hmedia.vo.AroundStoreCommentVo" resultType="java.lang.Long">
	SELECT COUNT(1)
	FROM m_around_store_comment a, s_app_user b 
		WHERE a.around_store_id = #{aroundStoreId,jdbcType=BIGINT} 
		AND a.ins_id = b.id 
		AND a.del_flag = '0' 
		AND b.del_flag = '0'  
  	<if test="insName != null and insName.trim() != ''" >
      AND b.nick_name LIKE CONCAT('%',CONCAT(#{insName},'%'))
    </if>
    <if test="content != null and content.trim() != ''" >
      AND a.content LIKE CONCAT('%',CONCAT(#{content},'%'))
    </if>
    <if test="illegalStatus != null and illegalStatus.trim() != ''" >
	  AND a.illegal_status = #{illegalStatus,jdbcType=CHAR}
    </if>
  </select>
  <!-- 周边店管理：回复管理列表查询end -->
  
  <!-- 周边店管理：查找回复详情 -->
  <select id="selectAroundStoreCommentDetail" parameterType="java.lang.Long" resultType="com.wooxun.geekdol.hmedia.vo.AroundStoreCommentVo">
	SELECT a.id AS id, a.content AS content, a.illegal_status AS illegalStatus, 
		a.opreater_ip AS opreaterIp, b.nick_name AS insName, 
		concat_ws('/',a.likes_number, a.hate_number) AS likesOrhate, 
		concat_ws('/',a.view_number,a.reply_number,a.illegal_number) AS viewReplyIllegalNumber, 
		a.ins_id AS insId, a.ins_ymdhms AS insYmdhms, a.upd_id AS updId, a.upd_ymdhms AS updYmdhms, 
		a.upd_eac AS updEac, a.del_flag AS delFlag
	FROM m_around_store_comment a, s_app_user b 
		WHERE a.id = #{id,jdbcType=BIGINT} 
		AND a.ins_id = b.id 
		AND a.del_flag = '0' 
		AND b.del_flag = '0' 
  </select>
  
  <!-- app查找评论列表 -->
  <select id="selectCommentList" parameterType="com.wooxun.geekdol.hmedia.vo.AroundStoreCommentVo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_around_store_comment
    where around_store_id = #{aroundStoreId,jdbcType=BIGINT}
    and del_flag = '0'
    <if test="illegalFlag==true" >
      AND illegal_status = '0'
    </if>
    order by ins_ymdhms desc
    <if test="pageFlag==true">
		LIMIT #{startPage}, #{endPage}
	</if>
  </select>
  
  <!-- 查找用户当天进行评论的列表 -->
  <select id="selectAroundStoreCommentByDay" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_around_store_comment
    where around_store_id = #{storeId}
    and del_flag = '0'
    and ins_id = #{appUserId}
    and #{startTime} &lt;= date_format(ins_ymdhms,'%Y-%m-%d %H:%i:%s')
    and date_format(ins_ymdhms,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
  </select>
  
    <!-- app查找用户当天对周边店一级评论进行过的点赞或倒赞记录 -->
  <select id="selectCommentByDay" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_around_store_comment
    where id = #{commentId}
    and del_flag = '0'
    and upd_id = #{appUserId}
    and #{startTime} &lt;= date_format(upd_ymdhms,'%Y-%m-%d %H:%i:%s')
    and date_format(upd_ymdhms,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
  </select>
  
</mapper>