<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wooxun.geekdol.system.mapper.SendMessageMapper" >
  <resultMap id="BaseResultMap" type="com.wooxun.geekdol.system.model.SendMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="receiver_type" property="receiverType" jdbcType="CHAR" />
    <result column="send_status" property="sendStatus" jdbcType="CHAR" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="ins_id" property="insId" jdbcType="BIGINT" />
    <result column="ins_ymdhms" property="insYmdhms" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="BIGINT" />
    <result column="upd_ymdhms" property="updYmdhms" jdbcType="TIMESTAMP" />
    <result column="upd_eac" property="updEac" jdbcType="BIGINT" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, receiver_type, send_status, city_id, ins_id, ins_ymdhms, upd_id, 
    upd_ymdhms, upd_eac, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from s_manager_message
    where id = #{id,jdbcType=BIGINT} and del_flag = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_manager_message
    where id = #{id,jdbcType=BIGINT} and del_flag = '0'
  </delete>
  <insert id="insert" parameterType="com.wooxun.geekdol.system.model.SendMessage" >
    insert into s_manager_message (id, title, content, 
      receiver_type, send_status, city_id, 
      ins_id, ins_ymdhms, upd_id, 
      upd_ymdhms, upd_eac, del_flag
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{receiverType,jdbcType=CHAR}, #{sendStatus,jdbcType=CHAR}, #{cityId,jdbcType=BIGINT}, 
      #{insId,jdbcType=BIGINT}, #{insYmdhms,jdbcType=TIMESTAMP}, #{updId,jdbcType=BIGINT}, 
      #{updYmdhms,jdbcType=TIMESTAMP}, #{updEac,jdbcType=BIGINT}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wooxun.geekdol.system.model.SendMessage" >
    insert into s_manager_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="receiverType != null" >
        receiver_type,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="insId != null" >
        ins_id,
      </if>
      <if test="insYmdhms != null" >
        ins_ymdhms,
      </if>
      <if test="updId != null" >
        upd_id,
      </if>
      <if test="updYmdhms != null" >
        upd_ymdhms,
      </if>
      <if test="updEac != null" >
        upd_eac,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="receiverType != null" >
        #{receiverType,jdbcType=CHAR},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=CHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="insId != null" >
        #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null" >
        #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null" >
        #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null" >
        #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null" >
        #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wooxun.geekdol.system.model.SendMessage" >
    update s_manager_message
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="receiverType != null" >
        receiver_type = #{receiverType,jdbcType=CHAR},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=CHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="insId != null" >
        ins_id = #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null" >
        ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null" >
        upd_id = #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null" >
        upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null" >
        upd_eac = #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wooxun.geekdol.system.model.SendMessage" >
    update s_manager_message
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      receiver_type = #{receiverType,jdbcType=CHAR},
      send_status = #{sendStatus,jdbcType=CHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      ins_id = #{insId,jdbcType=BIGINT},
      ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      upd_id = #{updId,jdbcType=BIGINT},
      upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      upd_eac = #{updEac,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  
     <!--  自定义查询   -->
                                               
   <resultMap id="MessageVoMap" type="com.wooxun.geekdol.system.vo.MessageVo">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content"/>
        <result column="proviceName" property="proviceName"/>
        <result column="cityName" property="cityName"/>
        <result column="receiver_type" property="receiverType"/>
        <result column="releasePerson" property="releasePerson"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="send_status" property="messageStatus"/>
        <result column="provinceId" property="provinceId"/>
        <result column="cityId" property="cityId"/>
    </resultMap>
    
  
    <!-- 根据条件查询出列表 -->
   <select id="queryMessageByParams" parameterType="com.wooxun.geekdol.system.vo.MessageVo" resultMap="MessageVoMap">
    SELECT  a.id,a.title,a.content,a.send_status,a.upd_ymdhms as releaseTime,b.city_name as cityName,b.city_id as cityId,c.province_name as proviceName,c.province_id as provinceId,d.real_name as releasePerson
    FROM
    s_manager_message a
	LEFT JOIN s_city b
	ON a.city_id = b.city_id
	LEFT JOIN s_province c
	on  b.province_id = c.province_id
	LEFT JOIN security_user d
	on  a.upd_id = d.id
   <where>
     <if test="title != null and title.trim()!=''" >
      AND a.title LIKE concat('%',concat(#{title},'%'))
     </if>
     and a.del_flag='0'
     and b.del_flag='0'
     and c.del_flag='0'
     and d.del_flag='0'
   </where>
  </select>
  
     <!-- 根据条件查询出总条数 -->
    <select id="queryCountByParams" parameterType="com.wooxun.geekdol.system.vo.MessageVo" resultType="java.lang.Long">
    select  count(*)  
    from
    s_manager_message a
	LEFT JOIN s_city b
	ON a.city_id = b.city_id
	LEFT JOIN s_province c
	on  b.province_id = c.province_id
	LEFT JOIN security_user d
	on  a.upd_id = d.id
   <where>
     <if test="title != null and title.trim()!=''" >
      AND a.title LIKE concat('%',concat(#{title},'%'))
     </if>
      and a.del_flag='0'
      and b.del_flag='0'
      and c.del_flag='0'
      and d.del_flag='0'
   </where>
   </select>
   
   <!-- 根据消息id 查出消息 -->
    <select id="queryMessageById" parameterType="java.lang.Long" resultMap="MessageVoMap">
    SELECT  a.*,a.upd_ymdhms as releaseTime,b.city_name as city,b.city_id as cityId,c.province_name as proviceName,c.province_id as provinceId,d.real_name as releasePerson
    FROM
    s_manager_message a
    LEFT JOIN s_city b
    ON a.city_id = b.city_id
    LEFT JOIN s_province c
    on  b.province_id = c.province_id
    LEFT JOIN security_user d
    on  a.upd_id = d.id
   <where>
     and a.id = #{id,jdbcType=BIGINT}
     and a.del_flag='0'
     and b.del_flag='0'
     and c.del_flag='0'
     and d.del_flag='0'
   </where>
  </select>
  
</mapper>