<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wooxun.geekdol.hmedia.mapper.AroundSuggestStorePromotionMapper" >
  <resultMap id="BaseResultMap" type="com.wooxun.geekdol.hmedia.model.AroundSuggestStorePromotion" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="around_suggest_store_id" property="aroundSuggestStoreId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
    <result column="promotion_info" property="promotionInfo" jdbcType="VARCHAR" />
    <result column="promotion_details" property="promotionDetails" jdbcType="VARCHAR" />
    <result column="publish_person" property="publishPerson" jdbcType="BIGINT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="publish_status" property="publishStatus" jdbcType="CHAR" />
    <result column="ins_id" property="insId" jdbcType="BIGINT" />
    <result column="ins_ymdhms" property="insYmdhms" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="BIGINT" />
    <result column="upd_ymdhms" property="updYmdhms" jdbcType="TIMESTAMP" />
    <result column="upd_eac" property="updEac" jdbcType="BIGINT" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, around_suggest_store_id, start_time, end_time, application_time, promotion_info, 
    promotion_details, publish_person, publish_time, publish_status, ins_id, ins_ymdhms, 
    upd_id, upd_ymdhms, upd_eac, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from m_around_suggest_store_promotion
    where id = #{id,jdbcType=BIGINT} and del_flag = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from m_around_suggest_store_promotion
    where id = #{id,jdbcType=BIGINT} and del_flag = '0'
  </delete>
  <insert id="insert" parameterType="com.wooxun.geekdol.hmedia.model.AroundSuggestStorePromotion" useGeneratedKeys="true" keyProperty="id" >
    insert into m_around_suggest_store_promotion (id, around_suggest_store_id, start_time, 
      end_time, application_time, promotion_info, 
      promotion_details, publish_person, publish_time, 
      publish_status, ins_id, ins_ymdhms, 
      upd_id, upd_ymdhms, upd_eac, 
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{aroundSuggestStoreId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{applicationTime,jdbcType=TIMESTAMP}, #{promotionInfo,jdbcType=VARCHAR}, 
      #{promotionDetails,jdbcType=VARCHAR}, #{publishPerson,jdbcType=BIGINT}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{publishStatus,jdbcType=CHAR}, #{insId,jdbcType=BIGINT}, #{insYmdhms,jdbcType=TIMESTAMP}, 
      #{updId,jdbcType=BIGINT}, #{updYmdhms,jdbcType=TIMESTAMP}, #{updEac,jdbcType=BIGINT}, 
      #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wooxun.geekdol.hmedia.model.AroundSuggestStorePromotion" useGeneratedKeys="true" keyProperty="id" >
    insert into m_around_suggest_store_promotion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aroundSuggestStoreId != null" >
        around_suggest_store_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="applicationTime != null" >
        application_time,
      </if>
      <if test="promotionInfo != null" >
        promotion_info,
      </if>
      <if test="promotionDetails != null" >
        promotion_details,
      </if>
      <if test="publishPerson != null" >
        publish_person,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="publishStatus != null" >
        publish_status,
      </if>
      <if test="insId != null" >
        ins_id,
      </if>
      <if test="insYmdhms != null" >
        ins_ymdhms,
      </if>
      <if test="updId != null" >
        upd_id,
      </if>
      <if test="updYmdhms != null" >
        upd_ymdhms,
      </if>
      <if test="updEac != null" >
        upd_eac,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="aroundSuggestStoreId != null" >
        #{aroundSuggestStoreId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionInfo != null" >
        #{promotionInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionDetails != null" >
        #{promotionDetails,jdbcType=VARCHAR},
      </if>
      <if test="publishPerson != null" >
        #{publishPerson,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="insId != null" >
        #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null" >
        #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null" >
        #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null" >
        #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null" >
        #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wooxun.geekdol.hmedia.model.AroundSuggestStorePromotion" >
    update m_around_suggest_store_promotion
    <set >
      <if test="aroundSuggestStoreId != null" >
        around_suggest_store_id = #{aroundSuggestStoreId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationTime != null" >
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionInfo != null" >
        promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      </if>
      <if test="promotionDetails != null" >
        promotion_details = #{promotionDetails,jdbcType=VARCHAR},
      </if>
      <if test="publishPerson != null" >
        publish_person = #{publishPerson,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishStatus != null" >
        publish_status = #{publishStatus,jdbcType=CHAR},
      </if>
      <if test="insId != null" >
        ins_id = #{insId,jdbcType=BIGINT},
      </if>
      <if test="insYmdhms != null" >
        ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null" >
        upd_id = #{updId,jdbcType=BIGINT},
      </if>
      <if test="updYmdhms != null" >
        upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      </if>
      <if test="updEac != null" >
        upd_eac = #{updEac,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wooxun.geekdol.hmedia.model.AroundSuggestStorePromotion" >
    update m_around_suggest_store_promotion
    set around_suggest_store_id = #{aroundSuggestStoreId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      application_time = #{applicationTime,jdbcType=TIMESTAMP},
      promotion_info = #{promotionInfo,jdbcType=VARCHAR},
      promotion_details = #{promotionDetails,jdbcType=VARCHAR},
      publish_person = #{publishPerson,jdbcType=BIGINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      publish_status = #{publishStatus,jdbcType=CHAR},
      ins_id = #{insId,jdbcType=BIGINT},
      ins_ymdhms = #{insYmdhms,jdbcType=TIMESTAMP},
      upd_id = #{updId,jdbcType=BIGINT},
      upd_ymdhms = #{updYmdhms,jdbcType=TIMESTAMP},
      upd_eac = #{updEac,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
      and upd_eac =  ( #{updEac,jdbcType=BIGINT} -1) 
  </update>
  
  <!-- 本网格推荐周边店管理：列表查询 -->
  <select id="selectAroundSuggestStorePromotionList" parameterType="com.wooxun.geekdol.hmedia.vo.AroundSuggestStorePromotionVo" resultType="com.wooxun.geekdol.hmedia.vo.AroundSuggestStorePromotionVo">
  SELECT
		id AS id,
		start_time AS startTime,
		end_time AS endTime,
		application_time AS applicationTime,
		promotion_info AS promotionInfo,
		publish_time AS publishTime,
		publish_status AS publishStatus
	FROM
		m_around_suggest_store_promotion
	WHERE
		del_flag = '0'
		AND around_suggest_store_id = #{aroundSuggestStoreId,jdbcType=BIGINT}
	ORDER BY
		publish_time DESC
	<if test="pageFlag==true">
		LIMIT #{startPage}, #{endPage}
	</if>
  </select>
  
  <!-- 本网格推荐周边店管理：总记录数查询 -->
  <select id="selectAroundSuggestStorePromotionListCount" parameterType="com.wooxun.geekdol.hmedia.vo.AroundSuggestStorePromotionVo" resultType="java.lang.Long">
	SELECT
		COUNT(1)
	FROM
		m_around_suggest_store_promotion
	WHERE
		del_flag = '0'
		AND around_suggest_store_id = #{aroundSuggestStoreId,jdbcType=BIGINT}
	ORDER BY
		publish_time DESC
  </select>
  
  <!-- 根据推荐店id查询最新的促销信息 -->
  <select id="selectPromotionByASSId" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from m_around_suggest_store_promotion
    where around_suggest_store_id = #{aroundSuggestStoreId,jdbcType=BIGINT}
    and publish_status = '1'
    and del_flag = '0'
    order by publish_time desc
    <if test="oneFlag==true">
		limit 1
	</if>
  </select>
</mapper>