body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent
}

body {
	overflow-x: hidden;
	background-color: #fbf9fe
}

.container {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.container>div {
	background-color: #fbf9fe
}
